.footer {

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding-top: rem(16px);
  padding-bottom: rem(16px);

  @include tablet {
    padding: rem(24px);
  }

  @include mobile {
    padding: rem(20px) 0 rem(35px);
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__address {
    font-size: rem(21px);
    color: $black;
    font-style: normal;

    @include mobile {
      margin-bottom: rem(8px);
    }
  }

  &__phone {
    position: relative;

    @include mobile {
      margin-bottom: rem(6px);
    }

    &-icon {
      width: 18px;
      height: 18px;
      fill: $green;
      padding-right: rem(6px);
    }

    &-link {
      font-size: rem(21px);
      color: $green;
      display: flex;
      align-items: center;

      @include mobile {
        justify-content: center;
      }
    }
  }
}