.member {
  position: relative;

  &__picture {
    margin: auto;
    margin-bottom: rem(15px);

    @include mobile {
      max-width: 140px;
    }
  }

  &__image {
    display: inline-block;
  }

  &__name {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: rem(21px);
    font-weight: 700;
    color: $black;
    margin-bottom: rem(8px);
    position: relative;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;

    @include tablet {
      margin-bottom: rem(20px);
    }

    &::after {
      content: "";
      border: 6px solid transparent;
      border-bottom-width: 0;
      border-top-color: $green;
      margin-left: 4px;
    }
  }

  &__content {
    position: absolute;
    top: 100%;
    overflow: hidden;
    height: 0;
    transition: 0.3s;

    @include tablet {
      position: static;
      margin-bottom: 10px;
    }
  }

  &__position {
    color: $black;
    margin-bottom: rem(4px);

    @include tablet {
      font-weight: 700;
    }
  }

  &__text {
    font-weight: 300;
  }

  &_active &__name::after {
    border-top-width: 0;
    border-bottom-width: 6px;
    border-bottom-color: $green;
  }
}