.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__content {
    background: #fff;
    padding: 40px 10px;
    width: rem(310px);
    text-align: center;
  }

  &__text {
    font-weight: 500;
    color: #000;
    margin-bottom: rem(18px);
  }

  &__close {
    background: #2E4E3F;
  }


  &.active {
    opacity: 1;
    visibility: visible;
  }
}