.reviews {

  @include tablet {
    margin: 0 rem(12px);
  }

  &__list {
    position: relative;
    min-height: 280px;
  }

  &__item {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: opacity 0.2s;

    &.active {
      position: static;
      opacity: 1;
    }
  }

  &__display {
    background: #F8FAF9;
    padding: rem(40px);
    margin-bottom: rem(15px);
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      width: rem(90px);
      height: rem(90px);
      border-radius: 50%;
      background: $white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: rem(-65px);

      @include mobile {
        content: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 2%;
      background: url("../images/bg/reviews-leaf.png") right top / contain no-repeat;
      width: rem(127px);
      height: rem(167px);

      @include mobile {
        max-width: 127px;
        width: 25%;
      }
    }

    @include tablet {
      padding: rem(56px) rem(24px) rem(24px) rem(24px);
      margin-bottom: rem(32px);
    }

    @include mobile {
      padding: rem(56px) rem(20px) rem(12px) rem(20px);
      margin-bottom: rem(4px);
    }
  }

  &__display-inner {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }

  }

  &__avatar {

    z-index: 10;

    @include tablet {
      margin-bottom: rem(18px);
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__avatar-image {
    width: 253px;
    height: 264px;
    object-fit: cover;

    @include tablet {
      width: 130px;
      height: 130px;
    }
  }

  &__content {
    padding: rem(22px) rem(140px) rem(10px) rem(40px);
    flex: 1;

    @include tablet {
      text-align: center;
      padding: 0;
    }

    @include mobile {
      padding: 0;
    }
  }

  &__title {
    font-size: rem(27px);
    color: $black;
    margin-bottom: rem(8px);
  }

  &__text {
    margin-bottom: rem(25px);
    line-height: rem(22px);

    @include tablet {
      margin-bottom: rem(16px);
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__author {
    color: $black;
    font-weight: 500;

    &_type_mobile {
      text-align: center;
      margin-bottom: rem(50px);
      display: none;
    }

    @include mobile {
      display: none;

      &_type_mobile {
        display: block;
      }
    }
  }

  &__switcher {
    display: flex;
    justify-content: center;
    margin-bottom: rem(20px);
  }
}