.works-section {
  position: relative;
  background: #F8FAF9;

  &::before {
    content: "";
    background: url("../images/bg/works-decor-1.png") no-repeat;
    background-size: contain;
    width: rem(196px);
    height: rem(264px);
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-50%);
    z-index: 10;
  }

  &__container {

    position: relative;

    &::before {
      content: "";
      background: url("../images/bg/works-decor-list-top.png") no-repeat;
      background-size: contain;
      width: rem(90px);
      height: rem(77px);
      position: absolute;
      top: 10%;
      right: 0;

      @include tablet {
        width: rem(60px);
        height: rem(50px);
      }
    }

    &::after {
      content: "";
      background: url("../images/bg/works-decor-list-bottom.png") no-repeat;
      background-size: contain;
      width: rem(72px);
      height: rem(135px);
      position: absolute;
      top: 100%;
      left: 0;

      @include tablet {
        top: 70%;
        width: rem(62px);
        height: rem(116px);
      }

      @include mobile {
        top: 90%;
      }

    }
  }
}