$blue: #61C4D9;
$green: #497870;
$darkGreen: #2E4E3F;
$gray: #666666;
$black: #292929;
$white: #ffffff;

$containerWidth: 960px;
$baseFontSize: 18px;
$headerFontSize: 48px;

html, body {
  height: 100%;
}

body {
  font-family: 'Alegreya Sans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: $baseFontSize;
  color: $gray;
  line-height: 1.42;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0 10px;
}