.benefits-section {
  position: relative;

  &::before {
    content: url("../images/bg/benefits-decor-1.png");
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: url("../images/bg/benefits-decor-2.png");
    position: absolute;
    left: 0;
    bottom: -18%; 
  }
}