.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;

  @include mobile {
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    margin-bottom: rem(15px);
  }

  &::before {
    content: url("../images/content/benefits/seporate.png");
    position: absolute;
    left: calc(100% - 20px);
    top: rem(50px);

    @include tablet {
      content: none;
    }
  }

  &:last-child::before {
    content: none;
  }


  &__image-wrap {
    background: #F2F5F4;
    width: rem(128px);
    height: rem(128px);
    border-radius: 50%;
    position: relative;
    margin-bottom: rem(20px);
    overflow: hidden;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }

  &__image {
    @include mobile {
      margin-right: rem(10px);
    }
  }

  &__text {
    @include mobile {
      padding-right: 10%;
    }
  }

  &__title {
    font-size: rem(27px);
    color: $black;
    margin-bottom: rem(18px);

    @include tablet {
      margin-bottom: 0;
    }

    @include mobile {
      margin-bottom: rem(10px);
    }
  }

  &__description {
    @include mobile {
      line-height: rem(22px);
    }
  }
}