.btn {
  padding: 21px 41px 21px 41px;
  border-radius: 100px;
  font-size: rem(16px);
  font-weight: 800;
  display: inline-block;
  color: $green;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;

  @include mobile {
    padding: rem(18px) rem(36px) rem(18px) rem(36px);
    font-size: rem(19px);
  }

  &_type_light {
    background: $white;
    transition: 0.3s;

    &:hover {
      background: $green;
      color: $white;
    }
  }

  &_type_dark {
    background: $green;
    transition: 0.3s;
    color: $white;

    &:hover {
      background: $white;
      color: $green;
    }
  }

}