.checkbox {
  margin-right: 20px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  &__elem {
    position: absolute;
    left: -9999px;

    &:checked + .checkbox__visible::before {
      content: url("../images/icons/check.png");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__visible {
    width: 24px;
    height: 24px;
    position: relative;
    background: $white;
    margin-right: 10px;
    cursor: pointer;
  }

}