.fixed-menu {

  position: fixed;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 14px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &_active {
      width: 16px;
      height: 16px;
      border: 1px solid $white;
      border-radius: 50%;
      pointer-events: none;
    }
  }

  &__link {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $white;
  }
}