.footer {

  padding-top: 16px;
  padding-bottom: 16px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__address {
    font-size: 21px;
    color: $black;
    font-style: normal;
  }

  &__phone {
    position: relative;

    &-link {
      font-size: 21px;

      &::before {
        content: url('../images/icons/footer-phone.png');
        padding-right: 6px;
      }
    }
  }
}