.headline {
  text-align: center;
  margin-bottom: rem(50px);

  &__title {
    margin-bottom: rem(8px);
    color: $black;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    padding: 0 26%;

    @include tablet {
      padding: 0 20%;
    }

    @include mobile {
      padding: 0 5%;
    }
  }

}