.menu {
  flex: 1;

  @include tablet {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: rem(28px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: $baseFontSize;
    display: inline-block;
  }
}