.order-section {
  background: url("../images/bg/form-bg.png") no-repeat;
  background-size: cover;
  color: #365A49;
  position: relative;

  &:before {
    content: url("../images/bg/order-decor-1.png");
    position: absolute;
    right: 2%;
    bottom: 10%;

    @include tablet {
      content: none;
    }
  }

  &:after {
    content: url("../images/bg/order-decor-2.png");
    position: absolute;
    left: 2%;
    bottom: 10%;

    @include tablet {
      content: none;
    }
  }

  &__title {
    color: inherit;
    margin-bottom: rem(54px);

    @include tablet {
      margin-bottom: rem(20px);
    }

    @include mobile {
      margin-bottom: rem(28px);
    }
  }
}