.reviews-section {
  position: relative;
  background: url("../images/bg/reviews-decor-1.png") right 2% top 6% no-repeat;
  z-index: 10;

  &::before {
    content: url("../images/bg/reviews-decor-3.png");
    position: absolute;
    left: 0;
    bottom: -28%;
  }

  &::after {
    content: url("../images/bg/reviews-decor-2.png");
    position: absolute;
    left: -10px;
    bottom: -14%;
  }

  &__title {
    margin-bottom: 32px;
  }


}