.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: $headerFontSize;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: rem(60px);
    text-align: center;
    color: $black;

    @include mobile {
      font-size: rem(40px);
    }
  }
}