.slide {
  display: flex;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }

  &__left-block {
    width: 58%;
    display: flex;
    align-items: center;
    padding-left: rem(40px);

    @include tablet {
      width: 100%;
      justify-content: center;
      margin-bottom: rem(26px);
      padding-left: 0;
    }
  }

  &__picture {
    position: relative;

    @include tablet {
      width: 60%;
    }

    &::before {
      content: "";
      width: 75px;
      height: 92px;
      position: absolute;
      right: 92%;
      top: 28%;
      background: url("../images/bg/slider-decor-1.png") no-repeat;
      background-size: contain;

      @include tablet {
        width: 60px;
        height: 80px;
      }

      @include mobile {
        width: 64px;
        height: 66px;
        right: 100%;
        top: 15%;
      }
    }

    &::after {
      content: "";
      width:99px;
      height: 73px;
      position: absolute;
      left: 80%;
      top: 85%;
      background: url("../images/bg/slider-decor-2.png") no-repeat;
      background-size: contain;

      @include tablet {
        width: 75px;
        height: 70px;
        left: 80%;
        top: 89%;
      }

      @include mobile {
        width: 70px;
        height: 70px;
        left: 87%;
        top: 85%;
      }
    }
  }

  &__right-block {
    width: 42%;

    @include tablet {
      width: 100%;
      text-align: center;
    }

    @include mobile {
      width: 85%;
    }
  }

  &__right-block {
    display: flex;
    flex-direction: column;
  }

  &__structure {
    margin-bottom: rem(20px);

    @include tablet {
      display: none;
    }
  }

  &__heading {
    font-size: rem(36px);
    text-transform: uppercase;
    color: $black;
    margin-bottom: rem(23px);
    line-height: rem(44px);

    @include tablet {
      font-size: rem(30px);
      margin-bottom: rem(10px);
    }
  }

  &__description {
    line-height: rem(22px);
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: rem(18px);

    @include tablet {
      justify-content: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__char {
    margin-right: rem(44px);

    @include tablet {
      margin-right: rem(50px);
      text-align: left;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__char-title {
    line-height: rem(22px);
  }

  &__char-val {
    color: $black;
    font-weight: 700;
  }

  &__price {
    color: $black;
    font-size: rem(60px);
    margin-right: rem(30px);
    white-space: nowrap;
  }
}