.team-section {

  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    transform: translateY(60%);
    width: rem(196px);
    height: rem(453px);
    background: url(../images/bg/team-decor-1.png) no-repeat top right/contain;

    @include tablet {
      width: rem(150px);
      height: rem(350px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    transform: translateY(60%);
    width: rem(135px);
    height: rem(112px);
    background: url(../images/bg/team-decor-2.png) no-repeat top right/contain;

    @include tablet {
      width: rem(104px);
      height: rem(86px);
    }
  }
}