.team {

  &_view_mobile {
    display: none;
  }

  &_view_desktop {
    @include tablet {
      display: none;
    }
  }

  &_view_mobile {
    @include tablet {
      display: block;
    }
  }

  text-align: center;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &_view_mobile &__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__member {
    width: calc(25% - 10px);

    @include tablet {
      width: 100%;
      max-width: 220px;
    }
  }

}